<% if flash[:success_update] %>
  <div class="alert alert-success">
    <%= flash[:success_update] %>
  </div>
<% end %>
<% if flash[:user_update] %>
  <div class="alert alert-success">
    <%= flash[:user_update] %>
  </div>
<% end %>
<% if flash[:miss_user_update] %>
  <div class="alert alert-danger">
    <%= flash[:miss_user_update] %>
  </div>
<% end %>
<% if flash[:create_recommend] %>
  <div class="alert alert-success">
    <%= flash[:create_recommend] %>
  </div>
<% end %>
<% if flash[:destroy_recommend] %>
  <div class="alert alert-warning">
    <%= flash[:destroy_recommend] %>
  </div>
<% end %>
<br><br>
<div class="user-show container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>ToDoList一覧</h3>
        </div>
        <div class="panel-body">
          <% if current_user.todolists.present? %>
            <table class="table table-hover" style="table-layout:fixed;width:100%;">
              <colgroup>
                <col style="width:72%;">
                <col style="width:13%;">
                <col style="width:15%;">
              </colgroup>
              <thead>
                <tr>
                  <th>内容</th>
                  <th>期限</th>
                  <th>報告</th>
                </tr>
              </thead>
              <tbody style="word-wrap:break-word;">
                <% @todolists.each do |list| %>
                  <tr>
                    <th><%= list.body %></th>
                    <th><%= current_user.ckeck_date(list) %>日</th>
                    <th><%= link_to '達成', todolist_congratulations_path(list), method: :patch, :class =>"btn btn-primary" %></th>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <h4>Listにデータがありません</h4>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>学習時間</h3>
        </div>
        <div class="panel-body">
          <div id="studychart_area">
            <%= render partial: "records/studychart", locals: { studychart: @studychart } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="user-show container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>ToDo達成率</h3>
        </div>
        <div class="panel-body">
          <% if @completes.present? || @unachieved.present? %>
            <%= pie_chart @todochart %>
          <% else %>
            <h4>ToDo達成を報告しよう！</h4>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>読書中の本</h3>
        </div>
        <div class="panel-body">
          <% @reading_books.each do |bo| %>
            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading usershow-book">
                  <%= link_to book_path(bo.book.id) do %>
                    <img src="<%= bo.book.small_image_url %>" alt="本の表紙", :image, style: "width: 150px; height: 150px;", fallback: "no_image.png" >
                  <% end %>
                </div>
                <ul class="usershow-book list-group">
                  <%= form_with(model: bo, url: bookshelf_path(bo.id), local: true) do |fo| %>
                    <li class="status list-group-item"><%= fo.select :status, Bookshelf.statuses.keys.to_a, {} %></li>
                    <%= fo.submit 'ステータス更新', :class=>"btn btn-primary  btn-block" %>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="user-show container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>興味のある本</h3>
    </div>
    <div class="panel-body">
      <% if current_user.bookshelves.present? %>
        <% @interest_books.each do |b| %>
          <div class="col-sm-2">
            <div class="panel panel-default">
              <div class="panel-heading usershow-book">
                <%= link_to book_path(b.book.id) do %>
                  <img src="<%= b.book.small_image_url %>" alt="本の表紙", :image, style: "width: 150px; height: 150px;", fallback: "no_image.png" >
                <% end %>
              </div>
              <ul class="usershow-book list-group">
                <%= form_with(model: b, url: bookshelf_path(b.id), local: true) do |f| %>
                  <li class="status list-group-item"><%= f.select :status, Bookshelf.statuses.keys.to_a, {} %></li>
                  <%= f.submit 'ステータス更新', :class=>"btn btn-primary  btn-block" %>
                <% end %>
                <%= link_to "削除する", bookshelf_path(b.id), method: :delete, data: {confirm: '本棚から取り除きますか？'}, :class =>"btn btn-danger btn-block" %>
              </ul>
            </div>
          </div>
        <% end %>
      <% else %>
        <h4>技術書の検索から本を追加してください</h4>
      <% end %>
    </div>
  </div>
</div>
<div class="user-show container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>学習済みの本</h3>
    </div>
    <div class="panel-body">
      <% @read_books.each do |boo| %>
        <div class="col-sm-2">
          <div class="panel panel-default">
            <div class="panel-heading usershow-book">
              <%= link_to book_path(boo.book.id) do %>
                <img src="<%= boo.book.small_image_url %>" alt="本の表紙", :image, style: "width: 150px; height: 150px;", fallback: "no_image.png" >
              <% end %>
            </div>
            <ul class="usershow-book list-group">
              <% if current_user.already_recommended?(boo.book) %>
                <li class="recommend list-group-book">
                  <%= link_to recommended_path(book_id: boo.book_id), method: :delete do %>
                    <i class="glyphicon glyphicon-star" aria-hidden="true" style="color: gold;"></i>
                     <i>お勧め済み</i>
                  <% end %>
                </li>
              <% else %>
                <li class="recommend list-group-book">
                  <%= link_to recommendeds_path(book_id: boo.book_id), method: :post do %>
                    <i class="glyphicon glyphicon-star-empty" aria-hidden="true"></i>
                    <i>お勧めする</i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>