<div class="row">
    <div class="col-lg-12">
      <h3>成果報告一覧</h3>
      <table class="table table-striped" style="table-layout:fixed;width:100%;">
        <colgroup>
          <col style="width:10%;">
          <col style="width:15%;">
          <col style="width:55%;">
          <col style="width:10%;">
          <col style="width:10%;">
        </colgroup>
        <thead>
          <tr>
            <th>日付</th>
            <th>項目</th>
            <th>詳細</th>
            <th>学習時間<br>(合計学習時間)</th>
            <th>その他</th>
          </tr>
        </thead>
        <tbody style="word-wrap:break-word;">
          <% @records.each do |re| %>
            <tr>
              <th>
                <h5>
                  <%= link_to edit_record_path(re.id) do %>
                    <%= re.created_at.strftime("%Y-%m-%d") %>
                  <% end %>
                </h5>
              </th>
              <th>
                <h4><%= re.title %></h4>
              </th>
              <th>
                <h4><%= re.body %></h4>
              </th>
              <th>
                <h4><%= re.studytime %>時間</h4>
                <h4>(<%= re.until_today_studytime %>時間)</h4>
              </th>
              <th>
                <%= link_to "編集", edit_record_path(re.id), :class =>"btn btn-success" %>
              </th>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="page_center">
        <%= paginate @records %>
      </div>
    </div>
  </div>