<% if flash[:success_record_update] %>
  <div class="alert alert-success">
    <%= flash[:success_record_update] %>
  </div>
<% end %>
<% if flash[:miss_recored_update] %>
  <div class="alert alert-danger">
    <%= flash[:miss_recored_update] %>
  </div>
<% end %>

<div class="record-index contaiber">
  <div class="row">
  	<div class="col-md-8">
  	  <h3>本日の進捗</h3>
      <%= form_with(model: @record, url: records_path) do |r| %>
        <label class="new-record-title" for="">学習項目</label>
        <%= r.text_field :title, class: 'form-control', placeholder: "学習報告はTwitterにも連動して投稿できます(20文字)" %>
        <label class="new-record-body" for="">進捗詳細</label>
        <%= r.text_area :body, class: 'form-control', style: "height: 100px;", placeholder: "学習報告はTwitterにも連動して投稿できます(90文字)"%>
        <label class="new-record-studytime sr-only" for="">学習時間</label><br><br>
        <div class="input-group">
          <span class="input-group-addon">学習時間：</span>
          <%= r.number_field :studytime, min: 0, max: 24, class: 'form-control', :step=>"0.1" %>
          <span class="input-group-addon">時間</span>
        </div>
        <div class="col-md-4">
          <div class="new-todo-create"><%= r.submit '学習内容を報告する（Twitter連動投稿）', class: "btn btn-warning", style: "width: 150px;" %></div>
        </div>
      <% end %>
      <br>
      <div id="record_message_area" class="col-md-8">
          <%= render partial: "message", locals: { records: @records } %>
      </div>
      <% if flash[:success_record_update] %>
        <div class="remove">
          <div class="alert alert-success">
            <%= flash[:success_record_update] %>
          </div>
        </div>
      <% end %>
      <% if flash[:miss_recored_update] %>
        <div class="remove">
          <div class="alert alert-danger">
            <%= flash[:miss_recored_update] %>
          </div>
        </div>
      <% end %>
    </div>
  <div id="records_area">
    <%= render partial: "records", locals: { records: @records } %>
  </div>
</div>