<% if @books.present? %>
  <div class="row">
    <% @books.each do |book| %>
      <div class="book">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <%=link_to detail_books_path(book_code: book.book_code) do %>
                <img src="<%= book.medium_image_url %>" alt="本の表紙" width="170px" height="230px">
              <% end %>
            </div>
            <div class= "bookshelf-buttom">
              <% if user_signed_in? %>
                <% unless current_user.havebook(book) %>
                    <%= form_with(url: bookshelves_path, local: true) do |f| %>
                      <%= f.hidden_field :book_code, value: book.book_code %>
                      <%= f.submit "本棚に加える", class:"btn btn-primary", :id=>"notices" %>
                    <% end %>
                <% else %>
                  <input type="button" onclick="location.href='<%= book.url %>'"value="楽天で確認する", class= "btn btn-danger">
                <% end %>
              <% else %>
                <input type="button" onclick="location.href='<%= book.url %>'"value="楽天で確認する", class= "btn btn-danger">
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<script>
$(function(){
  // Web Notificationsが有効
  if (window.Notification) {
    $("#message").text("");
  } else {
    $("#message").text("");
    $("#notices").remove();
    $("form").remove();
  }
  // 通知テストボタンクリック時
  $("#notices").click(function(){
    // 入力値を取得
    var body = "マイページの本棚に追加しました";
    if(window.Notification == null) return;
    // 通知の許可状態
    switch(Notification.permission){
      // 許可
      case "granted":
        // 通知を表示
        NotificationTest(body);
        break;
      // 未確認
      case "default":
        // ユーザーに許可をリクエストする
        Notification.requestPermission(function(permission){
        // 許可されたら通知を表示
          if(Notification.permission == "granted"){
            NotificationTest(body);
          }
        });
        break;
      // 拒否
      case "denied":
        break;
  }
  });
  // 指定されたパラメータで通知を表示
  function NotificationTest(body){
    var n = new Notification(
      body,
        {}
    );
    n.onclick = function(){
      this.close();
      window.open().close();
      window.focus();
    };
    setTimeout(n.close.bind(n), 6000);
  }
});
</script>
