<% if flash[:danger] %>
  <div class="alert alert-danger">
    <%= flash[:danger] %>
  </div>
<% end %>

<div class="container">
  <h3>技術書一覧</h3>
  <div class="search">
    <div class="row">
      <div class="text-center">
        <%= form_with(url: search_books_path, method: :get, local: true, class: "form-inline") do |f| %>
          <div class="form-group">
            <%= f.text_field :title, class: "form-control input-mg", placeholder: "技術書のキーワードを入力", size: 30 %>
          </div>
          <%= f.submit "技術書を検索", class: "btn btn-primary btn-mg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="search_backimage">
  <%= render partial: "books", books: @books %>
</div>


