<div class="loginbackimg">
  <div class="login-top">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-4 col-md-4 text-center">
              <div class="form-login"></br>
                  <h4 class="login-font">Log in</h4>
                  </br>
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :type => "text", :id => "email", :class => "form-control input-sm chat-input" %>
                    </br></br>
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "current-password", :type => "password", :id => "userPassword", :class => "form-control input-sm chat-input" %>
                    </br></br>
                    <div class="wrapper">
                            <span class="group-btn">
                              <%= f.submit "Log in", :class => "btn btn-primary btn-md" %><i class="fa fa-sign-in"></i>
                            </span>
                    </div>
                  <% end %>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

