<div class="row">
    <div class="col-lg-12">
      <div class="col-sm-8">
        <h3>ToDoList一覧</h3><br>
      </div>
      <div class="col-sm-4">
        <% if flash[:add_todo] %>
          <div class="remove">
            <div class="alert alert-success">
              <%= flash[:add_todo] %>
            </div>
          </div>
        <% end %>
        <% if flash[:destroy_todo] %>
          <div class="remove">
            <div class="alert alert-danger">
              <%= flash[:destroy_todo] %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= form_with(url: todolists_path, method: :get, class: "form-inline") do |f| %>
            <%= f.select :todo_status, [['ステータス別に表示', 0], ['挑戦中', 1], ['達成', 2], ['未達', 3], ['全てのリスト', 4]], { include_blank: true, selected: 0 }, {  class: "form-control" } %>
            <%= f.submit "表示を変更する", class: "btn btn-primary btn-mg" %>
          <% end %>
        </div>
        <br>
      </div>
	  <table class="table table-hover" style="table-layout:fixed;width:100%;">
	  	<colgroup>
	  	  <col style="width:13%;">
          <col style="width:60%;">
          <col style="width:12%;">
          <col style="width:10%;">
        </colgroup>
	    <thead>
	      <tr>
	      	<th>目標期限</th>
            <th>内容</th>
            <th>ステータス</th>
            <th>その他</th>
	      </tr>
	    </thead>
	    <tbody style="word-wrap:break-word;">
	      <% todolists.each do |list| %>
		    <tr>
		      <% if list.status == "challenge" %>
		        <th>
			      <h4><%= list.deadline.strftime("%Y-%m-%d") %></h4>
			    </th>
			    <th>
			      <h4><%= list.body %></h4>
			    </th>
			    <th>
			      <h4>
			      	期限まで後<%= current_user.ckeck_date(list) %>日
			        <br><br>
			        <%= link_to '達成！', todolist_congratulations_path(list), method: :patch, :class =>"btn btn-primary" %>
			      </h4>
			    </th>
			    <th>
                  <%= link_to "編集", edit_todolist_path(list.id), :class =>"btn btn-success" %>
                  <br><br>
                  <%= link_to "削除", todolist_path(list.id), method: :delete, remote: true, data: {confirm: 'Todoリストから削除しますか？'}, :class =>"btn btn-danger" %>
			    </th>
			  <% elsif list.status == "complete" %>
			    <th><h4><%= list.deadline.strftime("%Y-%m-%d") %></h4></th>
			    <th><h4><%= list.body %></h4></th>
			    <th><h4>達成</h4></th>
			    <th><h4 class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color:blue;"></h4></th>
			  <% elsif list.status == "unachieved" %>
			  	<th><h4><%= list.deadline.strftime("%Y-%m-%d") %></h4></th>
			    <th><h4><%= list.body %></h4></th>
			    <th><h5>未達</h5></th>
			    <th><h5 class="glyphicon glyphicon-warning-sign" aria-hidden="true"></h5></th>
	          <% else %>
	          <% end %>
			</tr>
		  <% end %>
		</tbody>
	  </table>
	  <div class="page_center">
	    <%= paginate todolists %>
	  </div>
	</div>
  </div>