<div class="todo-index contaiber">
  <div class="row">
  	<div class="col-md-8">
  	  <h3>ToDoの追加</h3>
      <%= form_with(model: @todolist, url: todolists_path) do |t| %>
        <label class="new-todo-body" for="">やる事</label>
        <%= t.text_area :body, class: 'form-control', style: "height: 100px;" %>
        <label class="new-todo-deadtime" for="">目標期限</label><br>
        <%= t.date_field :deadline,class: 'date', min: Date.today, max: Date.today+100, style: "width: 165px;" %>
        <br>
        <div class="col-md-4">
          <div class="new-todo-create"><%= t.submit 'リストに追加', class: "btn btn-warning", style: "width: 150px;" %></div>
        </div>
        <div id="todo_message_area" class="col-md-8">
          <%= render partial: "message", locals: { todolists: @todolists } %>
          <% if flash[:success_todo_update] %>
            <div class="remove">
              <div class="alert alert-success">
                <%= flash[:success_todo_update] %>
              </div>
            </div>
          <% end %>
          <% if flash[:success_update] %>
            <div class="remove">
              <div class="alert alert-info">
                <%= flash[:success_update] %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  	</div>
  </div>
  <div id="todolists_area">
    <%= render partial: "todolists", locals: { todolists: @todolists } %>
  </div>
</div>


